.RepoCard {
    opacity: 0.8;

    &:hover {
        transform: translateY(-4px);
        opacity: 1;
        box-shadow: 0 0 10px rgba(0, 128, 128, 0.5);
    }
}

.UserButton {
    opacity: 0.8;
    padding: 5px 10px;
    border-radius: 10px;

    &:hover {
        opacity: 1;
        box-shadow: 0 0 10px rgba(0, 128, 128, 0.5);
    }
}